<p>
  <%= t('first_paragraph') %>
</p>

<button><%= t('buttons.very.much.nested.value') %></button>

<p><%= t('second_paragraph') %></p>

<button><%= t('buttons.very.much.nested.only_german') %></button>
<button><%= t('buttons.very.much.nested.only_english') %></button>
<button><%= t('buttons.very.much.nested.only_italian') %></button>

<p>
  'date.formats.short' => <%= t('date.formats.short') %>
</p>
<p>
  'date.formats.default' => <%= t('date.formats.default') %>
</p>
<p>
  'time.formats.default' => <%= t('time.formats.default') %>
</p>
